header {
  background-color: #839e6b;
  padding: 0.625rem 1.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

p > header {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

ul {
  list-style: none;
  display: flex;
  gap: 6.25rem;
}

img {
  width: 15rem;
}

.button-group {
  display: flex;
  gap: 3.125rem;
}

button {
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: center;
  align-items: center;
  background: #52601a;
  font-family: "Onest", sans-serif;
  font-size: medium;
  color: #fff;
  width: 150px;
  border: none;
}
